<!DOCTYPE html>
<html>
    <% include ../common/common-head.ejs%>
  <body>
    <% include ../common/common-nav.ejs%>
    <!--BODY 내용 들어가야됨-->
    <div class="container">
      <table class="table">
        <tr>
          <td>번호</td>
          <td>제목</td>
          <td>글쓴이</td>
          <td>날짜</td>
          <td>조회수</td>
        </tr>
        <% for(var i = 0 ; i < board.length; i++) {%>
        <tr>
          <td><%=board[i].idx%></td>
          <td><a href="/boards/<%=board[i].idx%>"><%=board[i].title%></a></td>
          <td><%=board[i].content%></td>
          <td><%=board[i].createdAt%></td>
          <td><%=board[i].hits%></td>
        </tr>
        <%}%>
      </table>
    </div>
  </body>
</html>
