<!DOCTYPE html>
<html>
    <% include ../common/common-head.ejs%>
  <body>
    <% include ../common/common-nav.ejs%>
    <!--BODY 내용 들어가야됨-->
    <div class="container">
      <table class="table">
        <tr>
          <td>번호</td>
          <td><%=board.idx%></td>
        </tr>
        <tr>
          <td>제목</td>
          <td><%=board.title%></td>
        </tr>
        <tr>
          <td>글쓴이</td>
          <td><%=board.writer%></td>
        </tr>
        <tr>
          <td>내용</td>
          <td><%=board.content%></td>
        </tr>
        <tr>
          <td>날짜</td>
          <td><%=board.createdAt%></td>
        </tr>
          <td>조회수</td>
          <td><%=board.hits%></td>
        </tr>
      </table>
      <button class="btn btn-default" data-idx="<%=board.idx%>" id="updateBoardBtn">글 수정</button>
      <button class="btn btn-default" data-idx="<%=board.idx%>" id="deleteBoardBtn">글 삭제</button>
    </div>
    <script src="/javascripts/board.js"></script>
    <script>
      $(document).ready(function() {
          board.view.init();
      })
    </script>
  </body>
</html>
